@{
    ViewData["Title"] = "Registration Success";
}

<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
    <style>
        h1 {
            color: #b71c1c;
            text-align: center;
        }

        p {
            color: #b71c1c;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Супер! Регістрація прошла успішно!</h1>
</body>
</html>
